[package]
name = "personal_search"
version = "0.1.0"
authors = ["becker <github@deathbyescalator.com>"]
edition = "2018"

[features]
firefox_sync = ["rust-bert", "rusqlite", "glob", "dirs", "probabilistic-collections", "triple_accel", "md5"]

[dependencies]
tantivy = "*"
reqwest = { version = "*", features = ["blocking"] }
select = "*"
tempfile = "*"
chrono = "*"
lazy_static = "*"
toml = "*"

dirs = { version = "*", optional = true }
rusqlite = { version = "*", optional = true }
glob = { version = "*", optional = true }
probabilistic-collections = { version = "*", optional = true, features = ["serde"] }
triple_accel =  { version = "*", optional = true }
md5 =  { version = "*", optional = true }
rust-bert ={ version = "*", optional = true }

[[bin]]
name = "firefox_sync"
path = "src/firefox_sync/main.rs"
features = ["firefox_sync"]
